body {
	background-color : #FFC0CB;
	margin : 0;
	padding : 20px;
	line-height : 1.4;
	font-family: monospace;
}

table, th, td{
	border : 1px solid black;
}
td{
	padding : 10px;
}
ul{

}
.nav{
	display : flex;
	padding : 20;
	gap : 20px;
	justify-content: center;
}


